#reg{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;    
    flex-direction: column;
}
#TrigModal{
    background-color: rgb(0, 124, 201);
    border: 10px solid rgb(0, 124, 201);
    color: #ffffff;
}
#TrigModal:hover{
    background-color: rgb(0, 58, 94);
    border-color: rgb(0, 58, 94);
}
#TrigModal_login{
    background-color: black;
    border: 1px solid gray;
    color: rgb(0, 124, 201);
    height: 40px;
}
#TrigModal_login:hover{
    background-color: rgb(28, 26, 43);
}
#titulo{
    font-size:60px;
}
#controler{
    display: flex;
    align-items:start;
    justify-content: left;
    flex-direction: column;
    margin-left: 15%;
}
#modal_content_style{
    display: flex;
    flex-direction: column ;
}
#submit{
    background-color: white;
    width: 300px;
    height: 40px;
    font-size: large;
    border: 1px gray;
    font-weight: bold;
}